{% extends "/layouts/main.html" %}
{% block content %}

    <h1>{% if course is defined %}Редактирование курса «{{ course.name }}»{% else %}Создание курса для категории «{{ category.name }}»{% endif %}</h1>
    <div class="col-3">
        <form method="POST" action="{% if course is defined %}/courses/edit{% else %}/courses/create?id={{ category.id }}{% endif %}">
            {% if course is defined %}<input type="hidden" name="id" value="{{ course.id }}">{% endif %}
            <div class="mb-3">
                <label for="formName" class="form-label">Название курса</label>
                <input type="text" placeholder="Архитектура и шаблоны проектирования на Python" name="name" required class="form-control" id="formName" {% if course is defined %}value="{{ course.name }}"{% endif %}>
            </div>
            <div class="mb-3">
                <label for="formTypeAlias" class="form-label">Формат курса</label>
                <select class="form-select" name="type_alias" id="formTypeAlias">
                    <option value="webinar"{% if course is defined and course.type_alias == 'webinar' %} selected{% endif %}>Вебинарный формат</option>
                    <option value="interactive"{% if course is defined and course.type_alias == 'interactive' %} selected{% endif %}>Интерактивный курс</option>
                    <option value="video"{% if course is defined and course.type_alias == 'video' %} selected{% endif %}>Видеокурс</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
{% endblock %}
